.btn-light{
    background-color: #00d1b2 !important;
    border-radius: 50px !important;
    padding: 7px 40px !important;
    color: #fff !important;
    box-shadow: 0 0 9px 0 #9a9a9a;
    border: none !important;
    font-size: 18px;
}