.twitter {
    background-color: #4285f4;
}
.fa-twitter {
    color: #fff;
}
.google {
    background-color: #db4437 !important;
}
.fa-google {
    color: #fff;
}
.facebook {
    background-color: #3b5998;
}
.fa-facebook-f {
    color: #fff;
}

.login-btn {
    background-color: #fca311 !important;
    color: #fff !important;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #b1aeae;
}

.or-text {
    white-space: nowrap;
    position: relative;
    z-index: 1;
    padding: 0 10px;
    color: #b1aeae;
}
