.login-container {
    height: 100vh;
    background-color: #14213d;
}
.login-form{
    background-color: #e5e5e5 !important;
}
.twitter {
    background-color: #4285f4;
}
.fa-twitter {
    color: #fff;
}
.google {
    background-color: #db4437;
}
.fa-google {
    color: #fff;
}
.facebook {
    background-color: #3b5998;
}
.fa-facebook-f {
    color: #fff;
}

.login-btn {
    background-color: #fca311 !important;
    color: #fff !important;
}

.form-input {
    width: 300px !important;
}