# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
public/favicon/favicon-16x16.png
public/favicon/favicon-32x32.png
public/favicon/apple-touch-icon.png
public/favicon/android-chrome-512x512.png
public/favicon/android-chrome-192x192.png
public/favicon/site.webmanifest

src/utils/wordFilter.js
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
