.btn-dark {
    background-color: var(--app-teal) !important;
    padding: 7px 40px !important;
    color: #fff !important;
    border: none !important;
    font-size: 18px;
    &:hover {
        background-color: var(--app-lime) !important;
    }
}