.message-container {
  height: calc(100svh - 5rem);
  overflow-y: auto;
}

.messages {
    max-height: 70vh;
    min-width: 50vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

input[type="text"]{
	width: 100%;
}